.text-font1 {
  font-size: 1rem; }

.text-font2 {
  font-size: 2rem; }

.text-font3 {
  font-size: 3rem; }

.text-font4 {
  font-size: 4rem; }

main {
  background-color: #ECB6FF;
  color: #232660;
  font-family: sans-serif, "quicksand"; }

.custom-title, .box-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.logo {
  height: 20vh;
  width: 20vh; }

.box-title {
  background-image: url(../assets/repa2redim72dpi.png);
  min-height: 65vh;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.custom-img {
  height: 4vh; }

body {
  width: 0%, 0%;
  height: 0%, 0%; }

.master-title {
  color: #232660;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

footer {
  background-color: #15173D; }

header {
  background-color: #232660; }
  header .my-hover:hover {
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2); }

ul.header {
  color: black;
  font-size: large; }
