/* main style for all html */
main{
    margin: 0%;
    padding: 0%;
    background-color: #ECB6FF;
    color: #232660;
    font-family: sans-serif, "quicksand"
}

/* header style */
.logo{
    height: 20vh;
    width: 20vh;
}

header{
    background-color: #232660;
}

ul.header{
    color: black;
    font-size: large;
}

/* footer style */
footer{
    background-color: #15173D;
}

.custom-img{
    height: 4vh;
}

/* Services style */
.box-title{
    background-image: url(./assets/repa2png.png);
    min-height: 65vh;
    background-size: cover;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.custom-article{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

