main {
	background-color: $color_two;
	color: $color_one;
	font-family: $typography;
}
.custom-title {
	text-shadow: $shadow_title;
}
.logo {
	height: 20vh;
	width: 20vh;
}

.box-title {
	background-image: url(../assets/repa2redim72dpi.png);
	min-height: 65vh;
	background-size: cover;
	position: relative;
	@extend .custom-title;
	@include flex-col-around
}

.custom-img {
	height: 4vh;
}

body{
	width: $reset;
	height: $reset;
}

.master-title{
	color: $color_one;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}