*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "quicksand";
}

.container-global{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .custom-card{
        position: relative;
        width: 600px;
        height: 300px;
        margin: 20px;
        display: flex;
        transition: 0.5s;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(45deg,#757adb,#0b0d33);
        img{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 350px;
            transition: 0.5s;
        }
        .custom-content{
            position: relative;
            width: 50%;
            left: 20%;
            padding: 20px 20px 20px 40px;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            h2{
                color: #fff;
                text-transform: uppercase;
                line-height: 1em;
            }
            p{
                color: #fff;
            }
        }
    }
    .custom-card:hover img{
        left: 73%;
        height: 400px;
    
    }
    .custom-card:hover .custom-content{
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}


@media (max-width: 991px)
{
    .custom-container .custom-card{
    width: auto;
    max-width: 600px;
    align-items: flex-start;
    }
    .custom-container .custom-card:hover{
    height: 600px;
    }
    .custom-container .custom-card:hover img{
    left: 50%;
    height: 350px;
    }
    .custom-container .custom-card .custom-content{
        width: 100%;
        left: 0;
        padding: 40px;
    }
    
}

@media (max-width: 767px){
    .custom-container{
        flex-direction: column;
    }
    .custom-container .custom-card{
        margin: 40px 20px;
    }
}

@media (max-width: 420px){
    .custom-container .custom-card .custom-content{
        padding: 30px;
    }
    .custom-container .custom-card:hover img{
        height: 300px;
        }

}